@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: 255, 255, 255;
  --foreground: 23, 23, 23;
  --muted: 241, 242, 244;
  --muted-foreground: 127, 134, 148;
  --accent: 243, 244, 246;
  --accent-foreground: 38, 38, 38;
  --checkbox-bg: #171717;
  --checkbox-border: #171717;
}

.dark {
  --background: 18, 18, 23;
  --foreground: 212, 212, 216;
  --muted: 38, 38, 43;
  --muted-foreground: 161, 168, 180;
  --accent: 38, 38, 43;
  --accent-foreground: 191, 191, 196;
  --checkbox-bg: #D4D4D8;
  --checkbox-border: #D4D4D8;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@layer utilities {
  .grid-cols-53 {
    grid-template-columns: repeat(53, minmax(0, 1fr));
  }
}